body{
    background-image: url("../images/triangles.png");

}
.center{
    text-align: center;
    padding-left: 50px;
}

.tri{
    color: red;
}

.ent{
    color: crimson;
    background-size: 100%;
}

.learn{
    color: maroon;;
}