body{
   
   background-color: #6DD5FA;

}
.center{
    text-align: center;
    padding-left: 50px;
}

.tri{
    color: red;
}

.ent{
    color: brown;
    background-size: 100%;
}

.learn{
    color: maroon;;
}
.box{
    border: 2px solid lightgrey;
    padding: 2px;
    margin: 10px;
      
}
h2 {
    color: blue;
}